In [1]:
#The ETL project aims to sort out top 5 content categories that audience posted on Social Buzz platform
# The dataset is collected from the Virtual internship of Accenture North America https://www.theforage.com/modules/hzmoNKtzvAzXsEqx8/zjxeuu5mYzBuZw3fe?ref=FgLR7mNp5iAjGzqFd

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [3]:
import findspark
findspark.init()
findspark.find()

'C:\\BigDataLocalSetup\\spark'

In [4]:
import pyspark
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession, SQLContext
from pyspark.sql import *
from pyspark.sql.functions import *

In [5]:
df1 = pd.read_csv("C:/Users/phuon/Downloads/Virtual internship Accenture/SBReactions.csv",sep=',')
df1.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25553 non-null  int64
 1   Content ID  25553 non-null  object
 2   User ID     22534 non-null  object
 3   Type        24573 non-null  object
 4   Datetime    25553 non-null  object
dtypes: int64(1), object(4)
memory usage: 998.3+ KB

In [7]:
df1 = pd.DataFrame(df1)
df1.drop(df1.columns[0], axis=1, inplace=True)

In [8]:
df1['Datetime'] = pd.to_datetime(df1['Datetime']).dt.date
print(df1.head())

                             Content ID                               User ID  \
0  97522e57-d9ab-4bd6-97bf-c24d952602d2                                   NaN
1  97522e57-d9ab-4bd6-97bf-c24d952602d2  5d454588-283d-459d-915d-c48a2cb4c27f
2  97522e57-d9ab-4bd6-97bf-c24d952602d2  92b87fa5-f271-43e0-af66-84fac21052e6
3  97522e57-d9ab-4bd6-97bf-c24d952602d2  163daa38-8b77-48c9-9af6-37a6c1447ac2
4  97522e57-d9ab-4bd6-97bf-c24d952602d2  34e8add9-0206-47fd-a501-037b994650a2

      Type    Datetime
0      NaN  2021-04-22
1  disgust  2020-11-07
2  dislike  2021-06-17
3   scared  2021-04-18
4  disgust  2021-01-06

In [9]:
df1 = df1.dropna(axis=0,subset=['Type'])

In [10]:
print(df1)

                                 Content ID  \
1      97522e57-d9ab-4bd6-97bf-c24d952602d2
2      97522e57-d9ab-4bd6-97bf-c24d952602d2
3      97522e57-d9ab-4bd6-97bf-c24d952602d2
4      97522e57-d9ab-4bd6-97bf-c24d952602d2
5      97522e57-d9ab-4bd6-97bf-c24d952602d2
...                                     ...
25548  75d6b589-7fae-4a6d-b0d0-752845150e56
25549  75d6b589-7fae-4a6d-b0d0-752845150e56
25550  75d6b589-7fae-4a6d-b0d0-752845150e56
25551  75d6b589-7fae-4a6d-b0d0-752845150e56
25552  75d6b589-7fae-4a6d-b0d0-752845150e56

                                    User ID        Type    Datetime
1      5d454588-283d-459d-915d-c48a2cb4c27f     disgust  2020-11-07
2      92b87fa5-f271-43e0-af66-84fac21052e6     dislike  2021-06-17
3      163daa38-8b77-48c9-9af6-37a6c1447ac2      scared  2021-04-18
4      34e8add9-0206-47fd-a501-037b994650a2     disgust  2021-01-06
5      9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4  interested  2020-08-23
...                                     ...         ...         ...
25548  80c9ce48-46f9-4f5e-b3ca-3b698fc2e949     dislike  2020-06-27
25549  2bd9c167-e06c-47c1-a978-3403d6724606   intrigued  2021-02-16
25550                                   NaN  interested  2020-09-12
25551  5ffd8b51-164e-47e2-885e-8b8c46eb63ed     worried  2020-11-04
25552  4edc3d1a-a7d9-4db6-89c3-f784d9954172     cherish  2021-01-04

[24573 rows x 4 columns]

In [11]:
df1.loc[:,'Type'] = df1.loc[:, 'Type'].str.lower()
print(df1)

                                 Content ID  \
1      97522e57-d9ab-4bd6-97bf-c24d952602d2
2      97522e57-d9ab-4bd6-97bf-c24d952602d2
3      97522e57-d9ab-4bd6-97bf-c24d952602d2
4      97522e57-d9ab-4bd6-97bf-c24d952602d2
5      97522e57-d9ab-4bd6-97bf-c24d952602d2
...                                     ...
25548  75d6b589-7fae-4a6d-b0d0-752845150e56
25549  75d6b589-7fae-4a6d-b0d0-752845150e56
25550  75d6b589-7fae-4a6d-b0d0-752845150e56
25551  75d6b589-7fae-4a6d-b0d0-752845150e56
25552  75d6b589-7fae-4a6d-b0d0-752845150e56

                                    User ID        Type    Datetime
1      5d454588-283d-459d-915d-c48a2cb4c27f     disgust  2020-11-07
2      92b87fa5-f271-43e0-af66-84fac21052e6     dislike  2021-06-17
3      163daa38-8b77-48c9-9af6-37a6c1447ac2      scared  2021-04-18
4      34e8add9-0206-47fd-a501-037b994650a2     disgust  2021-01-06
5      9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4  interested  2020-08-23
...                                     ...         ...         ...
25548  80c9ce48-46f9-4f5e-b3ca-3b698fc2e949     dislike  2020-06-27
25549  2bd9c167-e06c-47c1-a978-3403d6724606   intrigued  2021-02-16
25550                                   NaN  interested  2020-09-12
25551  5ffd8b51-164e-47e2-885e-8b8c46eb63ed     worried  2020-11-04
25552  4edc3d1a-a7d9-4db6-89c3-f784d9954172     cherish  2021-01-04

[24573 rows x 4 columns]

In [12]:
df2 = pd.read_csv("C:/Users/phuon/Downloads/Virtual internship Accenture/SBReactionTypes.csv",sep=',')
print(df2)

    Unnamed: 0         Type Sentiment  Score
0            0        heart  positive     60
1            1         want  positive     70
2            2      disgust  negative      0
3            3         hate  negative      5
4            4   interested  positive     30
5            5  indifferent   neutral     20
6            6         love  positive     65
7            7   super love  positive     75
8            8      cherish  positive     70
9            9        adore  positive     72
10          10         like  positive     50
11          11      dislike  negative     10
12          12    intrigued  positive     45
13          13      peeking   neutral     35
14          14       scared  negative     15
15          15      worried  negative     12

In [13]:
df2 = pd.DataFrame(df2)
df2.drop(df2.columns[0], axis=1, inplace=True)
print(df2)

           Type Sentiment  Score
0         heart  positive     60
1          want  positive     70
2       disgust  negative      0
3          hate  negative      5
4    interested  positive     30
5   indifferent   neutral     20
6          love  positive     65
7    super love  positive     75
8       cherish  positive     70
9         adore  positive     72
10         like  positive     50
11      dislike  negative     10
12    intrigued  positive     45
13      peeking   neutral     35
14       scared  negative     15
15      worried  negative     12

In [14]:
merged1 = df1.merge(df2, on='Type',how='left')

In [15]:
print(merged1)

                                 Content ID  \
0      97522e57-d9ab-4bd6-97bf-c24d952602d2
1      97522e57-d9ab-4bd6-97bf-c24d952602d2
2      97522e57-d9ab-4bd6-97bf-c24d952602d2
3      97522e57-d9ab-4bd6-97bf-c24d952602d2
4      97522e57-d9ab-4bd6-97bf-c24d952602d2
...                                     ...
24568  75d6b589-7fae-4a6d-b0d0-752845150e56
24569  75d6b589-7fae-4a6d-b0d0-752845150e56
24570  75d6b589-7fae-4a6d-b0d0-752845150e56
24571  75d6b589-7fae-4a6d-b0d0-752845150e56
24572  75d6b589-7fae-4a6d-b0d0-752845150e56

                                    User ID        Type    Datetime Sentiment  \
0      5d454588-283d-459d-915d-c48a2cb4c27f     disgust  2020-11-07  negative
1      92b87fa5-f271-43e0-af66-84fac21052e6     dislike  2021-06-17  negative
2      163daa38-8b77-48c9-9af6-37a6c1447ac2      scared  2021-04-18  negative
3      34e8add9-0206-47fd-a501-037b994650a2     disgust  2021-01-06  negative
4      9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4  interested  2020-08-23  positive
...                                     ...         ...         ...       ...
24568  80c9ce48-46f9-4f5e-b3ca-3b698fc2e949     dislike  2020-06-27  negative
24569  2bd9c167-e06c-47c1-a978-3403d6724606   intrigued  2021-02-16  positive
24570                                   NaN  interested  2020-09-12  positive
24571  5ffd8b51-164e-47e2-885e-8b8c46eb63ed     worried  2020-11-04  negative
24572  4edc3d1a-a7d9-4db6-89c3-f784d9954172     cherish  2021-01-04  positive

       Score
0          0
1         10
2         15
3          0
4         30
...      ...
24568     10
24569     45
24570     30
24571     12
24572     70

[24573 rows x 6 columns]

In [16]:
merged1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24573 entries, 0 to 24572
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  24573 non-null  object
 1   User ID     22534 non-null  object
 2   Type        24573 non-null  object
 3   Datetime    24573 non-null  object
 4   Sentiment   24573 non-null  object
 5   Score       24573 non-null  int64
dtypes: int64(1), object(5)
memory usage: 1.3+ MB

In [17]:
merged1.set_index("Content ID", inplace=True)

In [18]:
df3 = pd.read_csv("C:/Users/phuon/Downloads/Virtual internship Accenture/SBContent.csv",sep=',')
df3.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [19]:
df3 = pd.DataFrame(df3)
df3.drop(df3.columns[0], axis=1, inplace=True)
print(df3)

                               Content ID  \
0    97522e57-d9ab-4bd6-97bf-c24d952602d2
1    9f737e0a-3cdd-4d29-9d24-753f4e3be810
2    230c4e4d-70c3-461d-b42c-ec09396efb3f
3    356fff80-da4d-4785-9f43-bc1261031dc6
4    01ab84dd-6364-4236-abbb-3f237db77180
..                                    ...
995  b4cef9ef-627b-41d7-a051-5961b0204ebb
996  7a79f4e4-3b7d-44dc-bdef-bc990740252c
997  435007a5-6261-4d8b-b0a4-55fdc189754b
998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7
999  75d6b589-7fae-4a6d-b0d0-752845150e56

                                  User ID   Type         Category  \
0    8d3cd87d-8a31-4935-9a4f-b319bfe05f31  photo         Studying
1    beb1f34e-7870-46d6-9fc7-2e12eb83ce43  photo   healthy eating
2    a5c65404-5894-4b87-82f2-d787cbee86b4  photo   healthy eating
3    9fb4ce88-fac1-406c-8544-1a899cee7aaf  photo       technology
4    e206e31b-5f85-4964-b6ea-d7ee5324def1  video             food
..                                    ...    ...              ...
995  5b62e10e-3c19-4d28-a57c-e9bdc3d6758d  video  public speaking
996  4fe420fa-a193-4408-bd5d-62a020233609    GIF       technology
997  35d6a1f3-e358-4d4b-8074-05f3b7f35c2a  audio         veganism
998  b9bcd994-f000-4f6b-87fc-caae08acfaa1    GIF          culture
999  b8c653b5-0118-4d7e-9bde-07c2de90f0ff  audio       technology

                                                   URL
0    https://socialbuzz.cdn.com/content/storage/975...
1    https://socialbuzz.cdn.com/content/storage/9f7...
2    https://socialbuzz.cdn.com/content/storage/230...
3    https://socialbuzz.cdn.com/content/storage/356...
4    https://socialbuzz.cdn.com/content/storage/01a...
..                                                 ...
995                                                NaN
996  https://socialbuzz.cdn.com/content/storage/7a7...
997  https://socialbuzz.cdn.com/content/storage/435...
998  https://socialbuzz.cdn.com/content/storage/4e4...
999  https://socialbuzz.cdn.com/content/storage/75d...

[1000 rows x 5 columns]

In [20]:
df3.rename(columns = {'Type':'Contenttypes'}, inplace = True)

In [21]:
print(df3)

                               Content ID  \
0    97522e57-d9ab-4bd6-97bf-c24d952602d2
1    9f737e0a-3cdd-4d29-9d24-753f4e3be810
2    230c4e4d-70c3-461d-b42c-ec09396efb3f
3    356fff80-da4d-4785-9f43-bc1261031dc6
4    01ab84dd-6364-4236-abbb-3f237db77180
..                                    ...
995  b4cef9ef-627b-41d7-a051-5961b0204ebb
996  7a79f4e4-3b7d-44dc-bdef-bc990740252c
997  435007a5-6261-4d8b-b0a4-55fdc189754b
998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7
999  75d6b589-7fae-4a6d-b0d0-752845150e56

                                  User ID Contenttypes         Category  \
0    8d3cd87d-8a31-4935-9a4f-b319bfe05f31        photo         Studying
1    beb1f34e-7870-46d6-9fc7-2e12eb83ce43        photo   healthy eating
2    a5c65404-5894-4b87-82f2-d787cbee86b4        photo   healthy eating
3    9fb4ce88-fac1-406c-8544-1a899cee7aaf        photo       technology
4    e206e31b-5f85-4964-b6ea-d7ee5324def1        video             food
..                                    ...          ...              ...
995  5b62e10e-3c19-4d28-a57c-e9bdc3d6758d        video  public speaking
996  4fe420fa-a193-4408-bd5d-62a020233609          GIF       technology
997  35d6a1f3-e358-4d4b-8074-05f3b7f35c2a        audio         veganism
998  b9bcd994-f000-4f6b-87fc-caae08acfaa1          GIF          culture
999  b8c653b5-0118-4d7e-9bde-07c2de90f0ff        audio       technology

                                                   URL
0    https://socialbuzz.cdn.com/content/storage/975...
1    https://socialbuzz.cdn.com/content/storage/9f7...
2    https://socialbuzz.cdn.com/content/storage/230...
3    https://socialbuzz.cdn.com/content/storage/356...
4    https://socialbuzz.cdn.com/content/storage/01a...
..                                                 ...
995                                                NaN
996  https://socialbuzz.cdn.com/content/storage/7a7...
997  https://socialbuzz.cdn.com/content/storage/435...
998  https://socialbuzz.cdn.com/content/storage/4e4...
999  https://socialbuzz.cdn.com/content/storage/75d...

[1000 rows x 5 columns]

In [22]:
df3.loc[:,'Contenttypes'] = df3.loc[:, 'Contenttypes'].str.lower()
print(df3)

                               Content ID  \
0    97522e57-d9ab-4bd6-97bf-c24d952602d2
1    9f737e0a-3cdd-4d29-9d24-753f4e3be810
2    230c4e4d-70c3-461d-b42c-ec09396efb3f
3    356fff80-da4d-4785-9f43-bc1261031dc6
4    01ab84dd-6364-4236-abbb-3f237db77180
..                                    ...
995  b4cef9ef-627b-41d7-a051-5961b0204ebb
996  7a79f4e4-3b7d-44dc-bdef-bc990740252c
997  435007a5-6261-4d8b-b0a4-55fdc189754b
998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7
999  75d6b589-7fae-4a6d-b0d0-752845150e56

                                  User ID Contenttypes         Category  \
0    8d3cd87d-8a31-4935-9a4f-b319bfe05f31        photo         Studying
1    beb1f34e-7870-46d6-9fc7-2e12eb83ce43        photo   healthy eating
2    a5c65404-5894-4b87-82f2-d787cbee86b4        photo   healthy eating
3    9fb4ce88-fac1-406c-8544-1a899cee7aaf        photo       technology
4    e206e31b-5f85-4964-b6ea-d7ee5324def1        video             food
..                                    ...          ...              ...
995  5b62e10e-3c19-4d28-a57c-e9bdc3d6758d        video  public speaking
996  4fe420fa-a193-4408-bd5d-62a020233609          gif       technology
997  35d6a1f3-e358-4d4b-8074-05f3b7f35c2a        audio         veganism
998  b9bcd994-f000-4f6b-87fc-caae08acfaa1          gif          culture
999  b8c653b5-0118-4d7e-9bde-07c2de90f0ff        audio       technology

                                                   URL
0    https://socialbuzz.cdn.com/content/storage/975...
1    https://socialbuzz.cdn.com/content/storage/9f7...
2    https://socialbuzz.cdn.com/content/storage/230...
3    https://socialbuzz.cdn.com/content/storage/356...
4    https://socialbuzz.cdn.com/content/storage/01a...
..                                                 ...
995                                                NaN
996  https://socialbuzz.cdn.com/content/storage/7a7...
997  https://socialbuzz.cdn.com/content/storage/435...
998  https://socialbuzz.cdn.com/content/storage/4e4...
999  https://socialbuzz.cdn.com/content/storage/75d...

[1000 rows x 5 columns]

In [23]:
df = pd.merge(
    left=merged1,
    right=df3[['Content ID','Category']],
    on='Content ID',
    how='left'
)

print(df)

                                 Content ID  \
0      97522e57-d9ab-4bd6-97bf-c24d952602d2
1      97522e57-d9ab-4bd6-97bf-c24d952602d2
2      97522e57-d9ab-4bd6-97bf-c24d952602d2
3      97522e57-d9ab-4bd6-97bf-c24d952602d2
4      97522e57-d9ab-4bd6-97bf-c24d952602d2
...                                     ...
24568  75d6b589-7fae-4a6d-b0d0-752845150e56
24569  75d6b589-7fae-4a6d-b0d0-752845150e56
24570  75d6b589-7fae-4a6d-b0d0-752845150e56
24571  75d6b589-7fae-4a6d-b0d0-752845150e56
24572  75d6b589-7fae-4a6d-b0d0-752845150e56

                                    User ID        Type    Datetime Sentiment  \
0      5d454588-283d-459d-915d-c48a2cb4c27f     disgust  2020-11-07  negative
1      92b87fa5-f271-43e0-af66-84fac21052e6     dislike  2021-06-17  negative
2      163daa38-8b77-48c9-9af6-37a6c1447ac2      scared  2021-04-18  negative
3      34e8add9-0206-47fd-a501-037b994650a2     disgust  2021-01-06  negative
4      9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4  interested  2020-08-23  positive
...                                     ...         ...         ...       ...
24568  80c9ce48-46f9-4f5e-b3ca-3b698fc2e949     dislike  2020-06-27  negative
24569  2bd9c167-e06c-47c1-a978-3403d6724606   intrigued  2021-02-16  positive
24570                                   NaN  interested  2020-09-12  positive
24571  5ffd8b51-164e-47e2-885e-8b8c46eb63ed     worried  2020-11-04  negative
24572  4edc3d1a-a7d9-4db6-89c3-f784d9954172     cherish  2021-01-04  positive

       Score    Category
0          0    Studying
1         10    Studying
2         15    Studying
3          0    Studying
4         30    Studying
...      ...         ...
24568     10  technology
24569     45  technology
24570     30  technology
24571     12  technology
24572     70  technology

[24573 rows x 7 columns]

In [24]:
df.columns

Index(['Content ID', 'User ID', 'Type', 'Datetime', 'Sentiment', 'Score',
       'Category'],
      dtype='object')

In [25]:
df['Category'] = df['Category'].str.replace('"', '')

In [26]:
df.loc[:,'Category'] = df.loc[:, 'Category'].str.lower()

In [27]:
df.rename(columns = {'Content ID':'Content_ID','User ID': 'User_ID'}, inplace = True)

In [28]:
df.head()

,Content_ID,User_ID,Type,Datetime,Sentiment,Score,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07,negative,0,studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17,negative,10,studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18,negative,15,studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06,negative,0,studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4,interested,2020-08-23,positive,30,studying

In [29]:
df.to_csv('Final_data.csv',index=False)

In [30]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [31]:
df = spark.read.option('inferSchema',True).option('header', True).csv("C:/Users/phuon/Final_data.csv")

In [32]:
df.show()

+--------------------+--------------------+-----------+----------+---------+-----+--------+
|          Content_ID|             User_ID|       Type|  Datetime|Sentiment|Score|Category|
+--------------------+--------------------+-----------+----------+---------+-----+--------+
|97522e57-d9ab-4bd...|5d454588-283d-459...|    disgust|2020-11-07| negative|    0|studying|
|97522e57-d9ab-4bd...|92b87fa5-f271-43e...|    dislike|2021-06-17| negative|   10|studying|
|97522e57-d9ab-4bd...|163daa38-8b77-48c...|     scared|2021-04-18| negative|   15|studying|
|97522e57-d9ab-4bd...|34e8add9-0206-47f...|    disgust|2021-01-06| negative|    0|studying|
|97522e57-d9ab-4bd...|9b6d35f9-5e15-4cd...| interested|2020-08-23| positive|   30|studying|
|97522e57-d9ab-4bd...|7918d465-0953-4f2...|    peeking|2020-12-07|  neutral|   35|studying|
|97522e57-d9ab-4bd...|fa3e42f0-71d8-455...|    cherish|2021-04-11| positive|   70|studying|
|97522e57-d9ab-4bd...|b0c22f82-b882-439...|       hate|2021-01-27| negative|    5|studying|
|97522e57-d9ab-4bd...|1932a904-86ba-443...|    peeking|2021-04-01|  neutral|   35|studying|
|97522e57-d9ab-4bd...|                null|       love|2020-08-04| positive|   65|studying|
|97522e57-d9ab-4bd...|f50ac030-3af8-4e0...|indifferent|2020-11-07|  neutral|   20|studying|
|97522e57-d9ab-4bd...|b09e3125-2162-443...|     scared|2020-11-02| negative|   15|studying|
|97522e57-d9ab-4bd...|b143cd2b-20b1-4e9...| interested|2020-11-01| positive|   30|studying|
|97522e57-d9ab-4bd...|48e834aa-fd4a-420...|       hate|2020-10-07| negative|    5|studying|
|97522e57-d9ab-4bd...|7246fed1-8725-4db...|     scared|2020-09-03| negative|   15|studying|
|97522e57-d9ab-4bd...|9664d628-9163-4aa...| super love|2021-02-24| positive|   75|studying|
|97522e57-d9ab-4bd...|2dd186bb-7a28-4e8...|    peeking|2020-09-23|  neutral|   35|studying|
|97522e57-d9ab-4bd...|f4ed8f9c-5eac-4d7...|indifferent|2021-02-24|  neutral|   20|studying|
|97522e57-d9ab-4bd...|5d454588-283d-459...| interested|2021-05-22| positive|   30|studying|
|97522e57-d9ab-4bd...|                null|  intrigued|2021-01-31| positive|   45|studying|
+--------------------+--------------------+-----------+----------+---------+-----+--------+
only showing top 20 rows

In [33]:
df.printSchema()

root
 |-- Content_ID: string (nullable = true)
 |-- User_ID: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Datetime: string (nullable = true)
 |-- Sentiment: string (nullable = true)
 |-- Score: integer (nullable = true)
 |-- Category: string (nullable = true)

In [34]:
# Create a temporary table
df.createOrReplaceTempView('df')

In [35]:
#Count distinct categories
df.select(countDistinct("Category")).show()

+------------------------+
|count(DISTINCT Category)|
+------------------------+
|                      16|
+------------------------+

In [36]:
# There are 16 distinct content categories that users usually post about on Social Buzz platform

In [37]:
#Count distinct Sentiment
df.select(countDistinct("Sentiment")).show()

+-------------------------+
|count(DISTINCT Sentiment)|
+-------------------------+
|                        3|
+-------------------------+

In [38]:
df.select("Sentiment").distinct().show()

+---------+
|Sentiment|
+---------+
| positive|
|  neutral|
| negative|
+---------+

In [39]:
# There are 3 types of sentimental reaction towards a content: positive, neutral and negative

In [40]:
# Top 5 Categories based on sum of popularity scores
spark.sql("SELECT Category,\
                  SUM(Score) as sum_scores\
          FROM df\
          GROUP BY Category\
          ORDER BY SUM(Score) DESC\
          LIMIT 5").show()

+--------------+----------+
|      Category|sum_scores|
+--------------+----------+
|       animals|     74965|
|       science|     71168|
|healthy eating|     69339|
|    technology|     68738|
|          food|     66676|
+--------------+----------+

In [41]:
# Top 5 most popular categories of posts are animals, science, healthy eating, technology and food in a descending order.

# Animals had an aggregate popularity score of around 75K. 
# It is very interesting to see both food and healthy eating within the top 5, 
# it really shows what people enjoy food-related content. 
# But also interesting to see technology & science in the most popular content categories too. 
#Fairly speaking, users favor "real-life" content on this platform.

In [42]:
# Top 5 Categories based on sum of popularity scores
spark.sql("SELECT Category,\
                  COUNT(Content_ID) AS count_posts\
          FROM df\
          GROUP BY Category\
          ORDER BY COUNT(Content_ID) DESC\
          LIMIT 5").show()

+--------------+-----------+
|      Category|count_posts|
+--------------+-----------+
|       animals|       1897|
|       science|       1796|
|healthy eating|       1717|
|          food|       1699|
|    technology|       1698|
+--------------+-----------+

In [ ]:
# It is interesting to see that Categories with higher number of posts will also receiver higher scores

In [67]:
# Total number of posts each month
spark.sql("SELECT month(Datetime) AS Month,\
                  COUNT(Content_ID) AS count_posts\
          FROM df\
          GROUP BY Month\
          ORDER BY count_posts DESC\
          ").show()

+-----+-----------+
|Month|count_posts|
+-----+-----------+
|    5|       2138|
|    1|       2126|
|    8|       2114|
|   12|       2092|
|    7|       2070|
|   10|       2056|
|   11|       2034|
|    9|       2022|
|    6|       2021|
|    3|       2012|
|    4|       1974|
|    2|       1914|
+-----+-----------+

In [ ]:
# The most common month for users to post within was May, January, August & December
#since these are seasonal months with  many holidays and events, 
#this is interesting to know that people are most active during these months!